@charset "UTF-8"

/* ------共通部分------ */
html {
    font-size: 100%;
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;

    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}


/* ------ヘッダー------ */
.page-header {
    width: 100%;
    height: 350px;
    background-image: url(../images/headbg.JPG);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    display: flex;
    justify-content: space-between;
}
.wrapper {
    margin: 0 auto;
    padding: 0 12%;
}
.logo {
    margin-top: 30px;
    word-break: break-all;
}
.logo a {
    font-size: 1.2rem;
    color: #432;
}
.main-nav {
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 40px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #fff;
}

.btn-menu {
    display: none; /* 大きい画面の時は非表示 */
}
.sub-nav {
    display: none; /* 大きい画面の時は非表示 */
}

/* ------自己紹介記事------ */
main {
    text-align: center;
}
#kimisukeimg {
    /* kimisukeの写真の位置 */
    position: absolute;
    top: 260px;
    left: 50%;
    -webkit-transform: translateX(-50%);

    /* kimisukeの写真の位置 */

    width: 170px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}
.profile {
    height: auto;
    width: 90%;

    /* 自己紹介ページの位置 */
    /* position: absolute; */
    /* top: 300px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    z-index: 2; */
    /* 自己紹介ページの位置 */

    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    margin: -45px auto 20px;
    border-radius: 10px;
    text-align: center;
    padding: 120px 0 10px;    
}
.introduction h1 {
    color: brown;
    font-family: "M PLUS Rounded 1c";
    font-size: 3rem;
    margin-top: 5px;
}

.introduction h2 {
    font-family: "M PLUS Rounded 1c";
    font-size: 20px;
}

.introduction p {
    padding: 0 5%;
}

.sns-icon {
    display: flex;
    justify-content: center; /*左右中心化*/

    margin: 10px 0 10px;
}

.sns-icon a {
    width: 5vh;
    height: 5vh;
    
    border-radius: 50%;
    margin: 0 7px;

    display: flex;
    justify-content: center; /*左右中心化*/
    align-items: center; /*上下中心化*/
}

.sns-icon img{
    width: 4vh;
    height: auto;
}

.sns-icon a:hover {
    background-color: #ddd;
}

.button {
    margin: auto;
    background-color: aqua;
}

/* history以下共通部分 */
.profile p {
    margin-bottom: 20px;
}
.profile-title {
    font-size: 2rem;
    font-weight: normal;
    margin: 0px 0 10px;
}

/* history */
.history li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 550px;
    margin: 0 auto 2%;
    padding: 0 1% 0.5%;
    width: 95%;
    border-bottom: 1px #ddd solid;
}
.history-content .description {
    flex: auto;
}



/* フッター */
footer {
    margin-top: auto;

    width: 100%;
    padding: 0 5%;
}

footer div {
    display: flex;
    justify-content: space-between;
    margin: 0 3% 5%;
}

footer p {
    word-break: break-all;
    font-size: 1rem;
}

@media (max-width: 600px) {
    /* ------ヘッダー------ */
    .bg-nav {
        display: none; /* メニューバーを非表示 */
    }
    .wrapper {
        margin: 0 auto;
        padding: 0 5%;
    }

    .profile {
        width: 95%;
    }
    .interest p,
    .akademic-paper p,
    .certification p {
        padding: 5px;
    }
    /* ハンバーガーを表示 */
    .btn-menu {
        display: inline;
        height: 10%;
        margin-top: 35px;

        background-color: transparent;
        border-color: transparent;
        z-index: 10;
    }
    .btn-menu span {
        width: 1.5rem;
        height: 2px;
        background-color: #432;
        position: relative;
        transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
        display: block;
    }
    .btn-menu span:nth-child(1) {
        top: 0;
    }
    
    .btn-menu span:nth-child(2) {
        margin: 5px 0;
    }
    
    .btn-menu span:nth-child(3) {
        top: 0;
    }

    /* ボタンがクリックされた後の処理(active) */
    .btn-menu.active span:nth-child(1) {
        top: 5px;
        transform: rotate(45deg);
    }

    .btn-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .btn-menu.active span:nth-child(3) {
        top: -9px;
        transform: rotate(-45deg);
    }

    /* サブメニュー*/
    .sub-nav {
        display: inline;
        position: fixed;
        z-index: 9;
        top: 0;
        right: -120%;
        width: 80%;
        height: 100vh;
        background: rgba(255,255,255,.9);
        box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
        transition: ease 0.4s;
    }
    /* ボタンがクリックされた後の処理(active) */
    .sub-nav.active {
        right: 0;
    }

    .sub-nav-contents {
        text-transform: uppercase;
        margin: 80px 0 60px;
        list-style: none;
    }
    .sub-nav-contents li {
        border-bottom: 1px #ddd solid;
    }
    .sub-nav-contents a {
        color: #432;
        padding: 10px;
        display: block;
    }

    .sub-nav-contents a:hover {
        background-color: #ddd;
    }

    /* ボタンがクリックされたとき画面を暗くする */
    .back-cover {
        display: none;
    }
    .back-cover.active{
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        background: rgba(3,3,3,.5);
    }
}